@CHARSET "UTF-8";


#content {
	background-image: url("../images/roulette.png");
	background-repeat:no-repeat;
	height: 700px;
	width: auto;
	padding : 100px;
}

#ballbox {
	width: 330px;
	height : 330px;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


#ballbox {
	animation: spin 3s 1.5 linear;
	animation-fill-mode:forwards;
 
}